.header {
    /* display flex, flex direction row, fill horizontal space */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 10vh;
    background-color: #FFFAEA;

}

.header-logo {
    /* add offset to top */
    margin-top: 10px;
}

.btn-primary{
    /* rounded light yellow button with black text */
    background-color: #FFE3BA;
    color: black;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;

    border: none;
    cursor: pointer;
}

